{# src/Lockate/APIBundle/Resources/views/Default/index.html.twig #}
<body>
Welcome to Jack's Strange World
{# the line below renders the FOSUser login page #}
{#{% include '@FOSUser/Security/login_content.html.twig' %}#}
</body>